<div class="contenedor-detalle">
    <div class="imagen">
      <img src="{{detalleDeProducto?.image}}" alt="">
    </div>
    <div class="descripcion">
      <h2>{{detalleDeProducto?.title}}</h2>
      <p><s>Precio de venta recomendado: $1785</s></p>
      <p><strong>¡Ahora a la venta por solo ${{detalleDeProducto?.price}}</strong></p>
      <p><span>Calificación de nuestros consumidores: </span> <strong>{{detalleDeProducto?.rating?.rate}}/5</strong></p>
      <p>{{detalleDeProducto?.description}}</p>
      <button>AÑADIR AL CARRITO</button>
    </div>
   </div>
   