p{
    font-weight: 2em;
}
.active{
    color: orange;
}
a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-top: 10%;
}
.navegador{
    background-color: black;
    height: 50px;
}