<div class="productos">
<div class="card">
    <h1>{{producto.title}}</h1>
    <img src="{{producto.image}}" alt="">
    <p>Descripción: {{producto.description}}</p>
    <div>Precio: {{producto.price}}</div>
    <p>Categoría: {{producto.category}}</p>
    <div>Valoración: {{producto.rating.rate}} ({{producto.rating.count}} valoraciones)</div>
</div>
<div class="card">
    <h1>{{producto.title}}</h1>
    <img src="{{producto.image}}" alt="">
    <p>Descripción: {{producto.description}}</p>
    <div>Precio: {{producto.price}}</div>
    <p>Categoría: {{producto.category}}</p>
    <div>Valoración: {{producto.rating.rate}} ({{producto.rating.count}} valoraciones)</div>
</div>
<div class="card">
    <h1>{{producto.title}}</h1>
    <img src="{{producto.image}}" alt="">
    <p>Descripción: {{producto.description}}</p>
    <div>Precio: {{producto.price}}</div>
    <p>Categoría: {{producto.category}}</p>
    <div>Valoración: {{producto.rating.rate}} ({{producto.rating.count}} valoraciones)</div>
</div>
<div class="card">
    <h1>{{producto.title}}</h1>
    <img src="{{producto.image}}" alt="">
    <p>Descripción: {{producto.description}}</p>
    <div>Precio: {{producto.price}}</div>
    <p>Categoría: {{producto.category}}</p>
    <div>Valoración: {{producto.rating.rate}} ({{producto.rating.count}} valoraciones)</div>
</div>
</div>
